body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat; 
    background-size: 1400px 3000px; 
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
span{
    color: yellowgreen
}
.manzana{
    color:rgb(204, 3, 3) !important; 
}
.manzana{
    color: black;
}    
.bx{
    font-size: 80px;
}
